<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
            {{ pwa() }}
        {% endblock %}
    </head>
    <body>

    <wc-menu-button id="menu-button"></wc-menu-button>

    <side-drawer id="drawer">
        <div id="drawer-container">
            <div class="column-container">
                <h2>World Time</h2>
                <div id="version"></div>
            </div>
            <div class="column-container">
                <a
                        href="https://github.com/survos-sites/noise/issues/new?assignees=&labels=bug&template=bug_report.md&title="
                        target="_blank"
                        rel="noopener"
                ><div class="selectable-row">
                        <div>Report Bug</div>
                        <div class="rotate90">&#8689;</div>
                    </div></a
                >


                {#      <a#}
                {#              href="https://github.com/wes-goulet/background-noise/issues/new?assignees=&labels=enhancement&template=feature_request.md&title="#}
                {#              target="_blank"#}
                {#              rel="noopener"#}
                {#      ><div class="selectable-row">#}
                {#          <div>Suggest a Feature</div>#}
                {#          <div class="rotate90">&#8689;</div>#}
                {#        </div></a#}
                {#      >#}
            </div>
        </div>
    </side-drawer>


        {% block body %}{% endblock %}
    </body>
</html>
